numpy
fastapi
opencv-python
ultralytics==8.3.250
python-multipart
roboflow
pytest
pytest-asyncio
httpx
websockets
python-dotenv
aiortc 
aiohttp
aiohttp-devtools
transformers
torch
vosk
aiohttp-cors
librosa
soundfile
webrtcvad-wheels
google-cloud-speech
inference
inference-gpu
inference-sdk